.svooltip-entering {
  animation: scaleIn 0.01s ease forwards !important;
}

.svooltip-leaving {
  animation: scaleOut 0.01s ease forwards !important;
}

.svooltip {
  z-index: 9999;
}

@keyframes scaleIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scaleOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}